//page styling here
.group {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after { clear: both; }

  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.group {
  // zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

// ----------------

.margin-top--add {
  margin-top: 10px;

  @media (max-width: 60rem) { margin-top:0 }
}

div.row {
  &:nth-child(3),
  &:nth-child(4) {
    > div {
      img:nth-child(1) { width: 100%; }
    }
  }

  > div  {
    padding-bottom: 60px;

    > a {
      position: absolute;
      bottom: 20px;
    }
  }
}

.icon__svg {
  height: 55px;
  width: 55px;
}

.col-sm-4{
  .travel-section__logo-image {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  h4{
    margin-bottom: 20px;
    color: #00338d;
    font-weight: 300;
    font-size: 18px;
  }
}
// img

.atom-bg-grey {
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;

  .wrapper {
    // background: red;

    @media screen {
      @media (max-width: 960px) { max-width: 600px; }
    }
  }

  .column {
    height: 80px;
    overflow: hidden;
    text-align: center;
    // float: left;

    @media screen {
      @media (max-width: 960px) {
        &__1 { width: 100%; }

        &__2 {
          width: 50%;
          float: left;
        }

        &__3 {
          width: 33%;
          float: left;
        }
      }
    }

    @media screen {
      @media (min-width: 961px) {

        display: inline-block;
        margin-left: 1%;
        margin-right: 1%;

        &:first-of-type{ margin-left: 0;}
        &:last-of-type{ margin-right: 0;}

        &--montanas { width: 125px; }
        &--harveys { width: 155px; }
        &--marios { width: 80px; }
        &--kelseys { width: 120px; }
        &--swiss { width: 80px; }

        &--milestones { width: 200px; }
        &--nyf { width: 85px; }
        &--biermarkt { width: 195px; }
        &--fmdm { width: 175px; }
        &--penguin { width: 140px; }

        &--alamo { width: 90px; }
        &--national { width: 145px; }
        &--rackattack { width: 105px; }
        &--mc { width: 100px; }

        &--hilton { width: 105px; }
        &--hyatt { width: 135px; }
        &--marriott { width: 135px; }
        &--ppl { width:110px; }
        &--bw { width: 203px; }
      }
    }



  }

  &:nth-of-type(3) {
    .column {

      @media screen {
        @media (min-width: 961px) {
          margin-left: 5%;
          margin-right: 5%;
        }
      }
    }
  }

  // images below
  [src*="montanas"] {
    // background: red;
    width: 100px;

    @media screen {
      @media (min-width: 414px) { width: 125px; }
      @media (min-width: 961px) { margin-top: 23px; }
    }
  }
  [src*="harveys"] {
    // background: red;
    width: 125px;
    margin-top: 10px;

    @media screen {
      @media (min-width: 414px) { width: 155px;  }
      @media (min-width: 961px) { margin-top: 32px; }
    }
  }
  [src*="marios"] {
    // background: red;
    width: 78px;

    @media screen {
      @media (min-width: 414px) { width: 80px;  }
    }
  }
  [src*="kelseys"] {
    // background: red;
    width: 88px;
    margin-top: 14px;

    @media screen {
      @media (min-width: 414px) { width: 120px;  }
      @media (min-width: 961px) { margin-top: 11px; }
    }
  }
  [src*="swiss"] {
    // background: red;
    width: 78px;

    @media screen {
      @media (min-width: 414px) { width: 80px;  }
    }
  }

  [src*="milestones"] {
    // background: red;
    width: 145px;
    margin-top: 15px;

    @media screen {
      @media (min-width: 414px) { width: 200px;  }
      @media (min-width: 961px) { margin-top: 28px; }

    }
  }
  [src*="nyf"] {
    // background: red;
    width: 65px;

    @media screen {
      @media (min-width: 414px) { width: 85px;  }
      @media (min-width: 961px) { margin-top: 11px; }
    }
  }
  [src*="biermarkt"] {
    // background: red;
    width: 185px;
    margin-top: 15px;

    @media screen {
      @media (min-width: 414px) {
        width: 195px;
        margin-top: 40px;
      }
      @media (min-width: 961px) { margin-top: 28px; }
    }
  }
  [src*="fmdm"] {
    // background: red;
    width: 135px;

    @media screen {
      @media (min-width: 414px) {
        width: 175px;
        margin-top: 5px;
      }
    }
  }
  [src*="penguin"] {
    // background: red;
    width: 104px;

    @media screen {
      @media (min-width: 414px) {
        width: 140px;
        margin-top: 5px;
      }
    }
  }

  [src*="alamo"] {
    // background: red;
    width: 90px;

    @media (min-width: 961px) { margin-top: 21px; }
  }
  [src*="national"] {
    // background: red;
    width: 125px;

    @media screen {
      @media (min-width: 414px) { width: 145px; }
      @media (min-width: 961px) { margin-top: 21px; }
    }
  }
  [src*="rackattack"] {
    // background: red;
    width: 105px;

    @media (min-width: 961px) { margin-top: 13px; }
  }
  [src*="mc"] {
    // background: red;
    width: 90px;

    @media screen {
      @media (min-width: 414px) { width: 100px; }
      @media (min-width: 961px) { margin-top: 13px; }
    }
  }

  [src*="hilton"] {
    // background: red;
    width: 100px;

    @media screen {
      @media (min-width: 414px) { width: 105px; }
      @media (min-width: 961px) { margin-top: 7px; }
    }
  }
  [src*="hyatt"] {
    // background: red;
    width: 125px;
    margin-top: 22px;

    @media screen {
      @media (min-width: 414px) { width: 135px; }
      @media (min-width: 961px) { margin-top: 32px; }
    }
  }
  [src*="marriott"] {
    // background: red;
    width :110px;
    margin-top: 15px;

    @media screen {
      @media (min-width: 414px) { width: 135px; }
      @media (min-width: 961px) { margin-top: 10px; }
    }
  }
  [src*="ppl"] {
    // background: red;
    width: 100px;
    margin-top: 4px;

    @media screen {
      @media (min-width: 414px) { width: 110px; }
      @media (min-width: 961px) { margin-top: 9px; }
    }
  }
  [src*="bw"] {
    // background: red;
    width: 185px;
    margin-top: 10px;

    @media screen {
      @media (min-width: 414px) { width: 203px; }
      @media (min-width: 961px) { margin-top: 24px; }
    }
  }

}
