<div class="travel-section__container">
  <section class="travel-section--intro margin-top--add">
    <div class="wrapper">
      <div class="travel-section__icon-container text--center">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg id="icon__baby" class="icon__svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.46 80.42">
          <title>Baby icon</title>
          <path d="M87,34.58a8.63,8.63,0,0,0-1.15.2c-4-15.74-19-27.46-37-27.46s-33,11.75-37,27.5a10.17,10.17,0,0,0-1.36-.24c-5,0-9,3.62-9,8.08s4,8.08,9,8.08a9.78,9.78,0,0,0,1.08-.2c3.64,16.21,18.93,28.38,37.26,28.38S82.44,66.77,86.1,50.58a7.7,7.7,0,0,0,.86.16c5,0,9-3.62,9-8.08S91.93,34.58,87,34.58Z"
            style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px" />
          <line x1="31.07" y1="1.5" x2="45.15" y2="15.59" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px"
          />
          <line x1="41.69" y1="1.5" x2="55.78" y2="15.59" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px"
          />
          <path d="M37.53,36.73a3.23,3.23,0,1,1-3.23-3.24A3.23,3.23,0,0,1,37.53,36.73Z" style="fill:#00338d;stroke:#00338d;stroke-miterlimit:10"
          />
          <path d="M66.48,36.73a3.23,3.23,0,1,1-3.23-3.24A3.23,3.23,0,0,1,66.48,36.73Z" style="fill:#00338d;stroke:#00338d;stroke-miterlimit:10"
          />
          <path d="M66.07,50.73a24.52,24.52,0,0,1-34.68,0" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px"
          />
          <path d="M44.37,45.3a4.36,4.36,0,0,1,8.72,0" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px"
          />
          <path d="M9.22,45.47a2.76,2.76,0,0,1,0-5.51" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px"
          />
          <path d="M88,40a2.76,2.76,0,0,1,0,5.51" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px"
          />
        </svg>

      </div>

      <div class="margin-bottom--add">
        <h2 class="h2--enlarge h2__margin-bottom--small">Have Kids to Keep Busy?</h2>

        <p class="text--center">Get active and have fun with the whole family. You can use your CAA Membership card to get great deals on fun family excursions and great eats. So go ahead and plan a day or two spending quality time together while winding down with a quiet evening dining out or ordering in.</p>
      </div>

      <div class="row margin-bottom--add">

        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--skyzone.jpg" alt="Sky Zone Trampoline Park." class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--skyzone.gif" width="183" height="33" alt="Sky Zone Trampoline Park logo"
            class="travel-section__logo-image">
          <h4>Sky Zone Trampoline Park.</h4>

          <p>The perfect place to experience some aerial action for a birthday, afternoon game of Ultimate Dodgeball or just having fun with the family.</p>

          <a href="https://portal.caarewards.ca/sco/offer/sky-zone-trampoline-park-327210/" class="atom-btn-sml">
            <span>See Offer</span>
          </a>
        </div>

        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--ripleys.jpg" alt="Ripley&rsquo;s Believe It or Not Museum."
            class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--ripleys.gif" width="139" height="33" alt="Ripley&rsquo;s Believe It or Not Museum logo"
            class="travel-section__logo-image">

          <h4>Ripley&rsquo;s Believe It or Not Museum.</h4>

          <p>Experience a different kind of museum with over 700 mind-boggling exhibits and illusions from around the world. It&rsquo;s truly unique with video and interactive displays.</p>

          <a href="https://portal.caarewards.ca/sco/offer/ripley-s-believe-it-or-not-304952/" class="atom-btn-sml" target="_blank">
            <span>See Offer</span>
          </a>
        </div>

        <div class="col-sm-4">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--rom.jpg" alt="Royal Ontario Museum." class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--rom.gif" width="141" height="34" alt="Royal Ontario Museum logo"
            class="travel-section__logo-image">

          <h4>Royal Ontario Museum.</h4>

          <p>Being Canada&rsquo;s largest museum of world culture and natural history, this is the perfect place to nurture discovery and get the kids to experience it all in a fun way.</p>

          <a href="https://portal.caarewards.ca/sco/offer/royal-ontario-museum-315024/" class="atom-btn-sml" target="_blank">
            <span>See Offer</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="atom-bg-grey group">
    <div class="wrapper">
      <!-- foo -->
      <div class="column column__2 column--montanas">
        <img src="/~/media/OM/membership/cara-foods/img/logos/logo-montanas.png" alt="Montana&rsquo;s Bar &amp; Grill logo">
      </div>

      <div class="column column__2 column--harveys">
        <img src="/~/media/OM/membership/cara-foods/img/logos/logo-harveys.png" alt="Harvey&rsquo;s logo">
      </div>

      <div class="column column__3 column--marios">
        <img src="/~/media/OM/membership/cara-foods/img/logos/logo-marios.png" alt="East Side Mario&rsquo;s logo">
      </div>

      <div class="column column__3 column--kelseys">
        <img src="/~/media/OM/membership/cara-foods/img/logos/logo-kelseys.png" alt="Kelseys Original logo">
      </div>

      <div class="column column__3 column--swiss">
        <img src="/~/media/OM/membership/cara-foods/img/logos/logo-swiss.png" alt="Swiss Chalet logo">
      </div>
    </div>
  </div>



  <section class="travel-section--intro margin-top--add">
    <div class="wrapper">
      <div class="travel-section__icon-container text--center">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg id="icon__ticket" class="icon__svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 48.11 40.92">
          <defs>
            <clipPath id="clip-path">
              <rect width="48.11" height="40.92" style="fill:none" />
            </clipPath>
          </defs>
          <title>Ticket icon</title>
          <g style="clip-path:url(#clip-path)">
            <path d="M37.68,5.59,33.09,1,9.58,24.51l4.59,4.59A3.42,3.42,0,0,1,19,33.94l4.59,4.59L47.11,15l-4.59-4.59a3.42,3.42,0,0,1-4.84-4.84Z"
              transform="translate(0 0)" style="fill:none;stroke:#00338d;stroke-linejoin:round;stroke-width:2px" />
            <polygon points="22.17 17.47 26.47 19.11 29.86 16.25 29.82 20.82 33.39 23.18 29.23 24.52 27.89 28.69 25.52 25.11 20.96 25.16 23.82 21.77 22.17 17.47"
              style="fill:none;stroke:#00338d;stroke-linejoin:round;stroke-width:2px" />
            <path d="M41.51,21.3l-2.66-2.67M37.52,17.3l-2.67-2.67M33.52,13.3l-2.67-2.67M29.52,9.3,26.85,6.64" transform="translate(0 0)"
              style="fill:none;stroke:#00338d;stroke-linejoin:round;stroke-width:2px" />
            <path d="M24,5.92l-1.47-1.6L1,25.9l4.59,4.59a3.42,3.42,0,0,1,4.84,4.83L15,39.92l3-3" transform="translate(0 0)"
              style="fill:none;stroke:#00338d;stroke-linejoin:round;stroke-width:2px" />
          </g>
        </svg>

      </div>

      <div class="margin-bottom--add">
        <h2 class="h2--enlarge h2__margin-bottom--small">Have a Little Extra Time to Spend on Yourself?</h2>

        <p class="text--center">We all know it&rsquo;s been awhile since you&rsquo;ve had ‘me time&rsquo; or some time to just hang out with friends. Why not make a plan to get out for dinner! Use your CAA Membership card to save on musical events, live theatre, cinema, fresh food, dining and more!</p>
      </div>

      <div class="row margin-bottom--add">

        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--tso.jpg" alt="Toronto Symphony Orchestra." class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--tso.gif" width="88" height="41" alt="Toronto Symphony Orchestra logo"
            class="travel-section__logo-image">

          <h4>Toronto Symphony Orchestra.</h4>

          <p>From Beethoven and Mozart to Broadway hits and children&rsquo;s concerts, treat yourself to beautiful live music.</p>

          <a href="https://portal.caarewards.ca/sco/offer/toronto-symphony-orchestra-304906/" class="atom-btn-sml">
            <span>See Offer</span>
          </a>
        </div>

        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--mirvish.jpg" alt="Mirvish Productions." class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--mirvish.gif" width="42" height="41" alt="Mirvish Productions logo"
            class="travel-section__logo-image">

          <h4>Mirvish Productions.</h4>

          <p>See what musicals, dramas or comedies you can attend at any Mirvish theatre, including the new CAA Theatre (formerly the Panasonic Theatre).</p>

          <a href="https://portal.caarewards.ca/sco/offer/mirvish-productions-318022/" class="atom-btn-sml" target="_blank">
            <span>See Offer</span>
          </a>
        </div>

        <div class="col-sm-4">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--cineplex.jpg" alt="Cineplex&reg;" class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--cineplex.gif" width="135" height="41" alt="Cineplex&reg; logo"
            class="travel-section__logo-image">

          <h4>Cineplex<sup>&reg;</sup>.</h4>

          <p>Check out what&nbsp;s playing at the cinema and enjoy your night out watching a movie! Get your discounted tickets at a CAA Store.</p>

          <a href="https://www.caasco.com/About-Us/Contact-Us/Store-Locations.aspx" class="atom-btn-sml" target="_blank">
            <span>Find a Store</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="atom-bg-grey group">
    <div class="wrapper">

      <div class="column column__2 column--milestones">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--milestones.png" alt="Milestones logo">
      </div>
      <div class="column column__2 column--nyf">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--nyf.png" alt="New York Fries logo">
      </div>

      <div class="column column__2 column--fmdm">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--fmdm.png" alt="Fionn MacCool&rsquo;s D'Arcy McGee&rsquo;s logo">
      </div>
      <div class="column column__2 column--penguin">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--penguin.png" alt="Penguin Fresh logo">
      </div>

      <div class="column column__1 column--biermarkt">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--biermarkt.png" alt="Biermarkt Logo">
      </div>
    </div>
  </div>



  <section class="travel-section--intro margin-top--add">
    <div class="wrapper">
      <div class="travel-section__icon-container text--center">
        <?xml version="1.0" encoding="utf-8"?>
        <svg id="icon__car" class="icon__svg" data-name="Layer 1" xmlns="http://www.w3.org/200338d/svg" viewBox="0 0 24 24">
          <title>Car icon</title>
          <g id="Outline_Icons" data-name="Outline Icons">
            <rect x="1.5" y="21.5" width="3" height="2" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
            <rect x="19.5" y="21.5" width="3" height="2" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
            <rect x="8.5" y="19.5" width="7" height="3" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
            <polyline points="15.5 21.5 23.5 21.5 23.5 17.5 20.5 14.5 3.5 14.5 0.5 17.5 0.5 21.5 8.5 21.5" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
            <polygon points="18.5 8.5 5.5 8.5 3.5 14.5 20.5 14.5 18.5 8.5" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
            <rect x="0.5" y="12.5" width="3" height="2" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
            <rect x="20.5" y="12.5" width="3" height="2" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
            <rect x="0.5" y="17.5" width="4" height="2" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
            <rect x="19.5" y="17.5" width="4" height="2" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
            <line x1="12" y1="17.5" x2="12" y2="16.5" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
          </g>
          <g id="invisible_shape" data-name="invisible shape">
            <rect width="24" height="24" style="fill:none" />
          </g>
        </svg>

      </div>
      <div class="margin-bottom--add">
        <h2 class="h2--enlarge h2__margin-bottom--small">Taking a Drive?</h2>

        <p class="text--center">If you have plans to go on a road trip or head to the cottage, we'll make finding a car rental easy with our new
          preferred car rental partners. We&rsquo;ve also got perks on everything else you may need along the way from fuel, travel
          accessories and bike racks to a Mastercard
          <sup>&reg;</sup>.</p>
      </div>

      <div class="row margin-bottom--add">

        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--enterprise.jpg" alt="Enterprise Rent-A-Car&reg;"
            class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--enterprise.gif" width="" height="" alt="Enterprise Rent-A-Car&reg; logo"
            class="travel-section__logo-image">

          <h4>Enterprise Rent-A-Car<sup>&reg;</sup>.</h4>

          <p>Get to your destination hassle-free with a rental car. Enterprise has outstanding customer service and will even pick you up for free! There are over 7,700 locations worldwide.</p>

          <a href="https://portal.caarewards.ca/sco/offer/enterprise-329704/" class="atom-btn-sml">
            <span>Learn More</span>
          </a>
        </div>

        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--petro.jpg" alt="Petro-Canada&trade;" class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--petro.gif" width="54" height="43" alt="Petro-Canada&trade; logo"
            class="travel-section__logo-image">

          <h4>Petro-Canada&trade;.</h4>

          <p>You'll be driving a lot with the weather getting warmer, so fill up on fuel. Make sure to link your Petro-Points<sup>&trade;</sup> card to your CAA Membership card to rack up those points. </p>

          <a href="https://portal.caarewards.ca/sco/offer/petro-canada-305405/" class="atom-btn-sml" target="_blank">
            <span>Learn More</span>
          </a>
        </div>

        <div class="col-sm-4">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--source.jpg" alt="The Source." class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--source.gif" width="" height="" alt="The Source logo"
            class="travel-section__logo-image">

          <h4>The Source.</h4>

          <p>Don&rsquo;t forget all your travel essentials. The Source has everything you need from chargers, back-up phone batteries, noise-cancelling headphones for long flights and cameras to capture your memories.</p>

          <a href="https://portal.caarewards.ca/sco/offer/the-source-305945/" class="atom-btn-sml" target="_blank">
            <span>See Offer</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="atom-bg-grey group">
    <div class="wrapper">
      <div class="column column__2 column--alamo">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--alamo.png" alt="Alamo Rent A Car logo">
      </div>

      <div class="column column__2 column--national">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--national.png" alt="National Car Rental logo">
      </div>

      <div class="column column__2 column--rackattack">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--rackattack.png" alt="Rack Attack logo">
      </div>

      <div class="column column__2 column--mc">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--mc.png" alt="CAA Rewards Mastercard">
      </div>
    </div>
  </div>



  <section class="travel-section--intro margin-top--add">
    <div class="wrapper">
      <div class="travel-section__icon-container text--center">
        <?xml version="1.0" encoding="utf-8"?>
        <svg id="icon__airplane-departure" class="icon__svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <title>Airplane departure icon</title>
          <g id="Outline_Icons" data-name="Outline Icons">
            <path d="M20.73,5.05,7.07,11l-3-1.5L.57,11l4.5,4.5,7.5-3-3,8,4-2,4-8,4.69-1.75a2,2,0,1,0-1.53-3.7Z" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
            <polyline points="16.24 7.01 9.58 4.26 5.89 5.79 12.63 8.58" style="fill:none;stroke:#00338d;stroke-linecap:round;stroke-linejoin:round"
            />
          </g>
          <g id="invisible_shape" data-name="invisible shape">
            <rect width="24" height="24" style="fill:none" />
          </g>
        </svg>

      </div>

      <div class="margin-bottom--add">

        <h2 class="h2--enlarge h2__margin-bottom--small">Want to Head Somewhere Far Away?</h2>

        <p class="text--center">We know you're itching to escape and we can help you get there and save. Fly somewhere tropical and take advantage of stress-free airport parking. We&rsquo;ve also got tons of hotel options to choose from so there&rsquo;s something for everyone.</p>
      </div>

      <div class="row margin-bottom--add">

        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--caa.jpg" alt="CAA Travel Consultants." class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--caa.gif" width="67" height="45" alt="CAA Travel Consultants logo"
            class="travel-section__logo-image">

          <h4>CAA Travel Consultants.</h4>

          <p>Isn&rsquo;t it nice when someone else takes care of everything and all you have to do is enjoy yourself? We can help with everything from the booking vacation packages and hotel stays to car rentals and excursions.</p>

          <a href="https://www.caasco.com/About-Us/Contact-Us/Store-Locations.aspx" class="atom-btn-sml">
            <span>Find a Store</span>
          </a>
        </div>

        <div class="col-sm-4 margin-bottom--add-mobile">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--aircanada.jpg" alt="Air Canada Vacations." class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--aircanada.gif" width="173" height="45" alt="Air Canada Vacations logo"
            class="travel-section__logo-image">

          <h4>Air Canada Vacations.</h4>

          <p>Has it been a while since you&rsquo;ve seen the sun? Fly off to a sunny destination and relax on the beach or go on some offshore adventures. Get rewarded for booking early.</p>

          <a href="https://portal.caarewards.ca/sco/offer/air-canada-vacations-328604/" class="atom-btn-sml" target="_blank">
            <span>See Offer</span>
          </a>
        </div>

        <div class="col-sm-4">
          <img src="/~/media/membership-savings/spring-activities/img/partner__img--parknfly.jpg" alt="Park&rsquo;N Fly." class="travel-section__image">

          <img src="/~/media/membership-savings/spring-activities/img/partner__logo--parknfly.gif" width="180" height="45" alt="Park&rsquo;N Fly logo"
            class="travel-section__logo-image">

          <h4>Park'N Fly.</h4>

          <p>Start and end your trip stress-free with Park&rsquo;N Fly. Enjoy 24/7 shuttle service to and from the terminal curbside, luggage assistance, savings and more!</p>

          <a href="https://portal.caarewards.ca/sco/offer/park-n-fly-305906/" class="atom-btn-sml" target="_blank">
            <span>See Offer</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="atom-bg-grey">
    <div class="wrapper">
      <div class="column column__2 column--hilton">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--hilton.png" alt="Hilton Hotels and Resorts logo">
      </div>
      <div class="column column__2 column--hyatt">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--hyatt.png" alt="Hyatt Hotels &amp; Resorts logo">
      </div>

      <div class="column column__2 column--marriott">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--marriott.png" alt="Marriott Hotels logo">
      </div>
      <div class="column column__2 column--ppl">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--ppl.png" alt="Plaza Premium Lounge logo">
      </div>

      <div class="column column__1 column--bw">
        <img src="/~/media/membership-savings/spring-activities/img/partner__logo--bw.png" alt="Best Western Hotels &amp; Resorts logo">
      </div>
    </div>
  </div>
</div>
