<div class="slide main-slide slick-initialized slick-slider" role="toolbar">
  <div aria-live="polite" class="slick-list draggable">
    <div class="slick-track" style="opacity: 1;" role="listbox">
      <div class="hero-div atom-bg-grey">
        <div class="slide01 slick-slide" style="background: url(&quot;https://caasco.com/~/media/membership-savings/spring-activities/img/LM-107-MarchBreak-Wellness-LP__hero.jpg&quot;) center center / cover no-repeat transparent;" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00">


        <!-- START sitecore banner content -->
          <style type="text/css">
            [style*="LM-107-MarchBreak-Wellness"], [style*="LM-107-MarchBreak-Wellness"] .main-slide {height: 100%;}
            [style*="LM-107-MarchBreak-Wellness"] {
              background-color: #ccc; /*background color when no image on local*/
              width:100%;
            }
            [style*="LM-107-MarchBreak-Wellness"] .mid .section__cta-container--center-btn {
              margin-top: 0;
            }
            .main-slide [style*="LM-107-MarchBreak-Wellness"] h2 {
              margin-bottom:11px;
            }
            [style*="LM-107-MarchBreak-Wellness"] h2, [style*="LM-107-MarchBreak-Wellness"] p { color:#fff; }
            [style*="LM-107-MarchBreak-Wellness"] p {
              max-width: 600px;
              text-align: center;
              margin-left:auto;/*fix odd left margin on in local*/
              margin-right: auto;
              margin-bottom:16px;
              padding-left: 15px;
              padding-right: 15px;
            }

            @media only screen and (max-width: 413px) {
              [style*="LM-107-MarchBreak-Wellness"] {
                background: url(/~/media/membership-savings/spring-activities/img/LM-107-MarchBreak-Wellness-LP__hero--mobile.jpg) no-repeat !important;
                background-size: cover !important;
              }
            }
            @media only screen and (min-width: 414px) and (max-width: 640px) {
              [style*="LM-107-MarchBreak-Wellness"] {
                background-position: 33% center !important;
              }
            }
            @media only screen and (min-width: 701px) and (max-width: 960px) {
              [style*="LM-107-MarchBreak-Wellness"] {
                background-position: 33% center !important;
              }
            }

            @media only screen and (max-width: 568px) {
              [style*="LM-107-MarchBreak-Wellness"] .slick-slide {
                height: 410px;
              }
            }
          </style>
          <div class="mid">

            <h2>Reward Yourself This Spring!</h2>
            <p>
              <strong>Let CAA Rewards<sup>&reg;</sup> give you great ideas for your March Break and spring plans. We'll bring you deals on entertainment, dining and travel to help inspire you to get out and have fun!</strong>
            </p>
            <!-- <div class="section__cta-container--center-btn">
              <a href="#?utm_source=CAA-ProjectName-homepage&utm_medium=banner&utm_campaign=2017-ProjectName" class="atom-btn-sml" tabindex="0" target="_blank"> <span>Test Now</span></a>
            </div> -->
          </div>

        <!-- END sitecore banner content -->

        </div>
      </div>
    </div>
  </div>
</div>
